body {
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
}

div#tftv-log, div#streams {
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
}

div#tftv-logo {
    background-color: #2a2a2a;
    border-bottom: none;
    margin: 0 -2px;
}

div#streams {
    width: 310px;
    max-height: 392px;/*13 elements (13*30px+2px)*/

    overflow-y: scroll;
    overflow-x: hidden;
    border-top: none;
    padding:0;
    margin: 0 -2px -2px -2px;
}

ul#streams {
    font-size:14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;

    margin:0;
    padding:0;
}

ul#streams a {
    line-height:30px;

    text-decoration:none;
    cursor:pointer;
    overflow:hidden;
    display:block; 

    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    /*background-color:#FFFFFF; 
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#CCCCCC;*/
 }

ul#streams a:nth-child(even) {
    background-color:#F5F5F5;
}

ul#streams a:nth-child(odd) {
    background-color: #FCFCFC;
}

/*should out point nth-child selector*/
ul#streams a:hover {
    background-repeat:repeat-x;
    background-color: #D6CBBC;
    padding: 2px 0;
}

li.stream {
    position: relative;
    overflow:hidden;
}

li.stream span.stream-text {
    max-width: 266px;
    padding-left: 4px;

    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li.stream span.stream-title {
    color: #141414;
}

li.stream span.stream-name {
    padding-right: 10px;

    font-size: 16px;
    color: #000000;
    text-shadow: 0 0 1px #A8A8A8; /*may look weird on some names*/
    
    float:left;
}

li.stream span.stream-view-count {
    width: 24px;
    padding-right: 4px;

    font-size:12px;
    color: #535353;

    display: block;
    float: right;
    text-align: right;
}

span#no-streams{
    text-align: center;
}