body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;*/
}

/*TODO margins on scrollbars*/
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
    border-radius: 10px;
}

#tftv-logo {
    border-bottom: none;
    margin: 0 -2px;
}

#tftv-log, #streams {
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
}


#streams {
    width: 310px;

    overflow-y: scroll;
    overflow-x: hidden;
    border-top: none;
    padding:0;
    margin: 0 -2px -2px -2px;
}

#streamlist {
    list-style: none;

    margin:0;
    padding: 0;
}

#streamlist a {
    /*line-height:2;*//*TODO change to ems*/
    /*vertical-align: text-bottom;*/

    text-decoration:none;
    cursor:pointer;
    overflow:hidden;
    display:block; 

    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

/*#streamlist a:nth-child(even) {
    background-color:#F5F5F5;
}

#streamlist a:nth-child(odd) {
    background-color: #FCFCFC;
}*/

#streamlist a:hover {
    background-repeat:repeat-x;
    padding: 1px 0;
}

.stream {
    position: relative;
    overflow:hidden;
    vertical-align: middle;
    display: block;
    box-shadow: 3px 1px 2px #888888;
}

.stream .stream-text {
    max-width: 254px;
    padding-left: 4px;

    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stream .stream-title {
}

.stream .stream-name {
    padding-right: 10px;
    text-shadow: 0 0 .5px #A8A8A8;
    float:left;
}

.stream .stream-view-count {
    width: 24px;
    padding-right: 4px;
    
    display: inline-block;
    float: right;
    text-align: right;
}

#error {
    color: red;
    text-align: center;
    display: block;
}

.subscribe {
    background-image:url('../img/unfavourite2.png');
    width:16px; 
    height:16px;
    display: block;
    float: left;
}

.subscribe.favourite {
    background-image:url('../img/favourite2.png');
}

.subscribe:hover {
    background-image:url('../img/fav_hover.png');
}
